<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/src/style.css" />
		{# meta #}
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:image" content="{{ image }}" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/dora">Dora</a>
			<a href="/paw-patrol">Paw Patrol</a>
			<a href="/numbers">Numbers</a>
		</nav>
		<main data-page="{{ page.fileSlug }}">
			{{ content | safe }}
		</main>
		<script type="module" src="/src/main.js"></script>
		<c-code></c-code>
	</body>
</html>
